.heading{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    position: relative;
}
.heading h5{
    color: var(--commonGreen);
    margin-bottom: 10px;
}
.heading h6{
    color: var(--white);
}
.heading h2{
    color: var(--white);
}
.heading::after{
    position: absolute;
    content: "";
    width: 65px;
    height: 5px;
    background: var(--commonGreen);
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
}