* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.1s;
    scroll-behavior: smooth;
  }
  body {
    font-family: "Tilt Neon", cursive;
    max-width: 100vw;
    overflow-x: hidden;
  }
  textarea,
  button {
    font-family: "Tilt Neon", cursive;
    cursor: pointer;
  }
  input {
    font-family: "Tilt Neon", cursive;
  }
  .container {
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 20px;
  }
  li {
    list-style: none;
  }
  .textGreenShadow {
    text-shadow: 5px -5px 0px rgb(69 248 130 / 66%);
    color: var(--white);
  }
  .flex {
    display: flex;
  }
  .justifyCenter {
    justify-content: center;
  }
  .alignCenter {
    align-items: center;
  }
  .justifySpaceBet {
    justify-content: space-between;
  }
  .textAlignCenter{
    text-align: center;
  }
  
  .flexWrap {
    flex-wrap: wrap;
  }
  
  a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.1rem;
    display: inline-block;
  }
  p {
    text-decoration: none;
    color: var(--grayText);
    font-size: 1rem;
    line-height: 25px;
  }
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.5rem;
    color: var(--white);
  }
  h4 {
    color: var(--white);
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1rem;
    color: var(--white);
  }
  h6{
    font-size: 2.7rem;
  }
  small {
    font-size: 0.8rem;
    color: var(--grayText);
  }
  
  .commonSection {
    padding: 100px 0;
    width: 100%;
    float: left;
  }
  img {
    display: flex;
  }
  
  /* Buttons Start Here  */
  .glButtonBorder svg {
    margin-right: 10px;
  }
  .glButtonBorder {
    position: relative;
    background: url("../public/assets/img/buttonBorder.svg");
    background-size: cover;
    padding: 11px 27px;
    font-size: 1.1rem;
    transition: 0.5s;
    color: var(--commonGreen);
    font-weight: 600;
    z-index: 99;
  }
  .glButtonBorder:hover::after {
    opacity: 1;
  }
  .glButtonBorder:hover {
    color: var(--darkBlack);
  }
  .glButtonBorder::after {
    content: "";
    clip-path: polygon(
      23px 0,
      calc(85% - 3px) 0,
      100% 50%,
      calc(85% - 1px) 100%,
      20px 100%,
      0% 50%
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--commonGreen);
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
  }
  
  /* Fill button  */
  .glButtonFill svg {
    margin-right: 10px;
  }
  .glButtonFill {
    position: relative;
    font-size: 1.1rem;
    transition: 0.5s;
    color: var(--darkBlack);
    font-weight: 600;
    z-index: 99;
    display: inline-block;
  }
  .glButtonFill span {
    padding: 15px 30px;
    display: inline-block;
  }
  .glButtonFill:hover span::after {
    background: var(--white);
  }
  .glButtonFill span::after {
    content: "";
    clip-path: polygon(
      28px 0,
      calc(85% + 2px) 0,
      100% 50%,
      calc(85% + 1px) 100%,
      28px 100%,
      0% 50%
    );
    position: absolute;
    background: var(--commonGreen);
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    transition: 0.5s;
    z-index: -1;
  }
  .glButtonFill::after {
    content: "";
    background: url("../public/assets/img/arrowLeft.svg");
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 9999;
    top: 0;
    left: -9px;
    width: 50%;
    height: 110%;
  }
  .glButtonFill::before {
    content: "";
    background: url("../public/assets/img/arrowLeft.svg");
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 9999;
    top: 0;
    right: -14px;
    width: 50%;
    height: 110%;
    transform: rotate(180deg);
  }
  
  /* yello Button  */
  .yellowButton:hover {
    background: var(--commonGreen);
  }
  .yellowButton svg {
    margin-left: 5px;
  }
  .yellowButton {
    transition: 0.5s;
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
    background: var(--yellow);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  /* Buy Button yelloGreen  */
  .buyGreen {
    border: none;
    outline: none;
    background: transparent;
    border: 2px solid var(--commonGreen);
    padding: 15px 60px;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 700;
    position: relative;
    transition: 0.5s;
  }
  .buyGreen:hover {
    background: var(--commonGreen);
    color: var(--darkBlack);
  }
  
  .buyGreen::after {
    content: "";
    position: absolute;
    height: 100%;
    background: url(../public/assets/img/btn_shape01.png);
    width: 15px;
    left: -2px;
    background-size: cover;
    top: 0;
  }
  .buyGreen::before {
    content: "";
    position: absolute;
    height: 100%;
    background: url(../public/assets/img/btn_shape01.png);
    width: 15px;
    right: -2px;
    background-size: cover;
    top: 0;
    transform: rotate(180deg);
  }
  
  /* Yellow button buy  */
  .buyYellow {
    border: none;
    outline: none;
    background: transparent;
    border: 2px solid var(--yellow);
    padding: 15px 60px;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 700;
    position: relative;
    transition: 0.5s;
  }
  .buyYellow:hover {
    background: var(--yellow);
    color: var(--darkBlack);
  }
  
  .buyYellow::after {
    content: "";
    position: absolute;
    height: 100%;
    background: url(../public/assets/img/btn_shape02.png);
    width: 15px;
    left: -2px;
    background-size: cover;
    top: 0;
  }
  .buyYellow::before {
    content: "";
    position: absolute;
    height: 100%;
    background: url(../public/assets/img/btn_shape02.png);
    width: 15px;
    right: -2px;
    background-size: cover;
    top: 0;
    transform: rotate(180deg);
  }
  
  @media (max-width: 1024px) {
    a {
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
    }
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 2.3rem;
    }
    h3 {
      font-size: 1.3rem;
      color: var(--white);
    }
    h4{
      color: var(--white);
      font-size: 1.1rem;
    }
    h5 {
      font-size: .9rem;
      color: var(--white);
    }
    h6{
      font-size: 2rem;
    }
  
    small{
      font-size: .8rem;
      color: var(--grayText);
    }
    .glButtonBorder {
      padding: 6px 12px;
      font-size: 1rem;
    }
    .glButtonBorder svg {
      margin-right: 5px;
    }
  }
  
  @media (max-width: 551px) {
    .commonSection{
      padding: 50px 0;
    }
    .glButtonFill span{
      padding: 10px 30px;
    }
    .glButtonFill::before{
      right: -5px;
    }
    .glButtonFill::after{
      left: -5px;
    }
    input{
      font-size: 1rem !important;
    }
    a {
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
      line-height: 20px;
    }
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.1rem;
      color: var(--white);
    }
    h4{
      color: var(--white);
      font-size: 1.1rem;
    }
    h5 {
      font-size: .9rem;
      color: var(--white);
    }
      h6{
      font-size: 1.6rem;
    }
    small{
      font-size: .8rem;
      color: var(--grayText);
    }
  }
  
  @media (max-width: 375px) {
    input{
      font-size: 1rem !important;
    }
    a {
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
    }
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.4rem;
    }
    h3 {
      font-size: 1rem;
      color: var(--white);
    }
    h4{
      color: var(--white);
      font-size: 1.1rem;
    }
    h5 {
      font-size: .9rem;
      color: var(--white);
    }
    small{
      font-size: .8rem;
      color: var(--grayText);
    }
  }
  
  @media (max-width: 325px) {
    input{
      font-size: 1rem !important;
    }
    a {
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
    }
    h1 {
      font-size: 2.3rem;
    }
    h2 {
      font-size: 1.7rem;
    }
    h3 {
      font-size: 1rem;
      color: var(--white);
    }
    h4{
      color: var(--white);
      font-size: 1.1rem;
    }
    h5 {
      font-size: .9rem;
      color: var(--white);
    }
    small{
      font-size: .8rem;
      color: var(--grayText);
    }
  }