.footer {
    background: #0f161b;
    padding: 100px 0 0 0;
  }
  .footer .container {
    max-width: 1200px;
    gap: 30px;
  }
  
  .footer .logo img {
    width: 100%;
  }
  .footer .logo {
    width: 200px;
  }
  .footer .col ul li {
    margin-top: 5px;
  }
  .footer .col ul li a p:hover {
    color: var(--commonGreen);
  }
  .footer .col:nth-child(4) p{
      margin-top: 15px;
  }
  .footer .col:nth-child(1) p {
    margin-top: 30px;
  }
  .footer .col:nth-child(1) h4 {
    margin-top: 20px;
  }
  .footer .col:nth-child(1) h4 span {
    color: var(--commonGreen);
  }
  
  .footer .col ul {
    margin-top: 15px;
  }
  .footer .col:nth-child(1) {
    width: 37%;
    padding-right: 20px;
  }
  .footer .col:nth-child(2) {
    width: 15%;
  }
  
  .footer .col:nth-child(3) {
    width: 15%;
  }
  
  .footer .col:nth-child(4) {
    width: 25%;
  }
  
  .footer .col form {
    width: 100%;
    margin-top: 30px;
    position: relative;
  }
  .footer .col form button{
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      border-radius: 5px;
      border: none;
      background: var(--commonGreen);
      color: var(--darkBlack);
      font-size: 1.4rem;
      padding: 0 10px;
      cursor: pointer;
  }
  .footer .col form input {
    display: block;
    border: none;
    background: #1f2935;
    width: 100%;
    border-radius: 5px;
    padding: 15px 50px 15px 25px;
    font-size: 14px;
    outline: none;
    color: var(--white);
  }
  
  
  .footer .copy p {
    text-align: center;
  }
  .footer .copy p span{
      color: var(--commonGreen);
  }
  .footer .copy{
      margin-top: 70px;
      background: var(--darkBlack);
      padding: 10px 0;
  }
  
  @media (max-width: 1024px) {
    .footer .col:nth-child(1) {
      width: 50%;
      padding-right: 20px;
      /* border: 1px solid red; */
    }
    .footer .col:nth-child(2) {
      width: 20%;
      /* border: 1px solid red; */
    }
    
    .footer .col:nth-child(3) {
      width: 20%;
      /* border: 1px solid red; */
    }
    
    .footer .col:nth-child(4) {
      width: 80%;
      /* border: 1px solid red; */
    }
  }
  
  @media (max-width: 768px) {
    .footer .col:nth-child(1) {
      width: 50%;
      padding-right: 20px;
      /* border: 1px solid red; */
    }
    .footer .col:nth-child(2) {
      width: 20%;
      /* border: 1px solid red; */
    }
    
    .footer .col:nth-child(3) {
      width: 20%;
      /* border: 1px solid red; */
    }
    
    .footer .col:nth-child(4) {
      width: 100%;
      /* border: 1px solid red; */
    }
  }
  @media (max-width: 550px) {
    .footer .col:nth-child(1) {
      width: 100%;
      padding-right: 20px;
      /* border: 1px solid red; */
    }
    .footer .col:nth-child(2) {
      width: 100%;
      /* border: 1px solid red; */
    }
    
    .footer .col:nth-child(3) {
      width: 100%;
      /* border: 1px solid red; */
    }
    
    .footer .col:nth-child(4) {
      width: 100%;
      /* border: 1px solid red; */
    }
  }