header {
    width: 100%;
    padding: 20px 0;
    position: fixed;
    z-index: 9999;
  }
  .scrollHeader {
    background: var(--darkBlackTransprant);
  }
  .logo img {
    width: 100%;
  }
  
  .logo {
    width: 200px;
  }
.header1{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #101018;
}
  
  header .menues .search:hover {
    color: var(--commonGreen);
  }
  header .menues .search {
    color: var(--white);
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 20px;
  }
  
  header .bar span {
    width: 100%;
    height: 2px;
    background: var(--white);
    display: block;
  }
  header .bar:hover span:first-child {
    width: 100%;
  }
  header .bar:hover span:last-child {
    width: 100%;
  }
  header .bar span:first-child {
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
  header .bar span:last-child {
    position: absolute;
    width: 50%;
    right: 0;
    bottom: 0;
  }
  header .bar span:nth-child(2) {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  header .bar {
    height: 25px;
    width: 40px;
    margin-left: 20px;
    cursor: pointer;
    position: relative;
  }
  .wholeScreen {
    position: absolute;
    right: 0;
    width: 100vw;
    background: var(--darkBlackTransprant);
    height: 100vh;
    display: flex;
    flex-direction: column;
    top: 0;
    z-index: 99;
    display: none;
  }
  .wholeScreenShow {
    display: flex;
    animation: animateBlackScreen 0.1s ease-in;
  }
  @keyframes animateBlackScreen {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .headerSideBar {
    position: absolute;
    right: -100%;
    width: 100%;
    max-width: 500px;
    background: var(--darkBlack);
    height: 100vh;
    display: flex;
    flex-direction: column;
    top: 0;
    z-index: 99;
    transition: 0.8s;
  }
  .ShowSideBar {
    right: 0;
  }
  .headerSideBar .logo img {
    width: 100%;
    max-width: 150px;
  }
  .headerSideBar .logo {
    position: relative;
    width: 100%;
    padding: 35px 40px 25px;
  }
  
  .headerSideBar .content h3 span {
    color: var(--commonGreen);
  }
  .headerSideBar .content {
    padding: 25px 40px 50px 40px;
    border-top: 1px solid var(--white);
  }
  .headerSideBar .commonSideCard {
    margin-top: 50px;
  }
  .headerSideBar .commonSideCard h5 {
    margin: 10px 0;
  }
  .headerSideBar .commonSideCard p a {
    color: var(--grayText);
    font-size: 1rem;
  }
  .headerSideBar .commonSideCard p:hover a,
  .headerSideBar .commonSideCard p:hover {
    color: var(--commonGreen);
  }
  .headerSideBar .commonSideCard p:hover span {
    background: var(--commonGreen);
  }
  .headerSideBar .commonSideCard p {
    margin-top: 5px;
    cursor: pointer;
  }
  .headerSideBar .contact p span {
    margin-right: 10px;
    height: 7px;
    width: 7px;
    background: var(--grayText);
    display: inline-block;
  }
  .headerSideBar .subscribe h5 {
    color: var(--commonGreen);
  }
  .headerSideBar .subscribe form {
    width: 100%;
    position: relative;
  }
  .headerSideBar .subscribe form input:focus {
    outline: 1px solid var(--commonGreen);
    border: 1px solid var(--darkBlack);
  }
  .headerSideBar .subscribe form input {
    width: 100%;
    background: transparent;
    border: 1px solid var(--grayText);
    padding: 15px 80px 15px 22px;
    font-size: 14px;
    outline: none;
    color: var(--white);
    font-family: "Tilt Neon", cursive;
  }
  .headerSideBar .subscribe form button {
    position: absolute;
    height: 70%;
    border: none;
    top: 50%;
    right: 0;
    padding: 0 20px;
    transform: translateY(-50%);
    cursor: pointer;
    background: transparent;
    color: var(--commonGreen);
    font-size: 1.5rem;
    border-left: 1px solid var(--grayText);
  }
  .headerSideBar .subscribe > p {
    margin-top: 30px;
  }
  .headerSideBar .socal a {
    margin: 0 10px;
    cursor: pointer;
    font-size: 1.2rem;
  }
  .headerSideBar .socal a:hover {
    color: var(--commonGreen);
  }
  
  .headerSideBar .sideFoot p {
    color: var(--darkBlack);
    font-weight: 700;
  }
  .headerSideBar .sideFoot {
    margin-top: auto;
    padding: 20px 40px 20px 40px;
    background: var(--commonGreen);
  }
  .headerSideBar .swordClose:hover {
    color: var(--commonGreen);
  }
  .headerSideBar .swordClose {
    color: var(--white);
    font-size: 2rem;
    position: absolute;
    right: 50px;
    cursor: pointer;
  }
  
  .searchBox {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 999999;
    background: var(--darkBlackTransprant);
    top: -200%;
    transition: 0.3s;
    left: 0;
  }
  .showSearchBox {
    top: 0;
    position: fixed;
    z-index: 9999999;
  }
  .searchBox > div {
    height: 100%;
    position: relative;
  }
  .searchBox .content {
    max-width: 800px;
    width: 100%;
    text-align: center;
  }
  .searchBox form {
    margin-top: 50px;
    width: 100%;
    position: relative;
  }
  
  .searchBox form input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 50px 20px;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    background: transparent;
    color: var(--white);
    /* border: 1px solid red; */
  }
  .searchBox form button {
    color: var(--commonGreen);
    background: transparent;
    outline: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 30%;
    right: 10px;
  }
  .showSearchBox form::after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--commonGreen);
    animation: zeroTo100 1s ease-in-out;
    width: 100%;
  }
  
  @keyframes zeroTo100 {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  
  .searchBoxClose:hover {
    color: var(--commonGreen);
  }
  .searchBoxClose {
    position: absolute;
    font-size: 3rem;
    color: var(--white);
    cursor: pointer;
    top: 20px;
    right: 20px;
  }
  
  header .phoneMenu {
    display: none;
  }
  .phoneNavClose {
    display: none;
  }
  .overLayBackgroundPhone {
    display: none;
  }
  
  header nav .glButtonBorder {
    display: none;
    outline: none;
    /* border: 2px solid red; */
    
  }
  
  @media (max-width: 1024px) {
    .logo {
      width: 120px;
    }
  }
  @media (max-width: 901px) {
    .logo {
      width: 120px;
    }
  
    header .bar {
      display: none;
    }
  
    header .phoneMenu {
      display: flex;
      font-size: 2rem;
      color: var(--commonGreen);
      margin-left: 10px;
      border: 2px solid var(--commonGreen);
      padding: 5px;
      cursor: pointer;
    }
  
    nav ul {
      flex-direction: column;
      margin-top: 20%;
    }
    nav ul li {
      margin-top: 20px;
    }
    nav {
      position: absolute;
      height: 100vh;
      width: 100%;
      max-width: 400px;
      top: 0;
      right: -100%;
      text-align: center;
      background: var(--darkBlack);
      z-index: 9999;
      transition: 0.5s;
    }
  
    .showNavInPhone {
      right: 0;
    }
  
    .phoneNavClose:hover {
      color: var(--commonGreen);
      cursor: pointer;
    }
    .phoneNavClose {
      display: block;
      color: var(--white);
      position: absolute;
      top: 3%;
      right: 5%;
      font-size: 2rem;
    }
    .overLayBackgroundPhone {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: var(--darkBlackTransprant);
    }
    .overLayBackgroundPhoneShow {
      display: block;
      animation: animateBlackScreen 0.1s ease-in;
    }
  }
  
  @media (max-width: 375px) {
    header .menues .glButtonBorder {
      display: none;
    }
    header .menues .search {
      margin-right: 6px;
    }
    header nav .glButtonBorder{
      display: inline-block;
      margin-top: 20px;
    }
    .glButtonBorder {
      padding: 12px 31px;
  }
  }
  