.duel-box {
  width: 100%;
  background: var(--darkBlack);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-duel {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}
.container-duel > h2 {
  text-transform: uppercase;
  font-size: 2rem;
}
.card-container {
  width: 100%;
  display: grid;
  gap: 4rem;
}
.duelCard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding: 1rem 2rem;
  transition: 0.5s;
  border: 0.01rem solid transparent;
  border-radius: 10px;
  background: linear-gradient(0deg, #0c0e12 0%, rgba(31, 41, 53, 0.685) 100%);
  position: relative;
  overflow: hidden;
}

.duelCard::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 20px;
  background-color: var(--commonGreen);
  transform: skew(-40deg);
  top: 0;
  left: -10px;
  transition: 0.5s;
}

.duelCard::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 20px;
  background-color: var(--commonGreen);
  transform: skew(-40deg);
  bottom: 0;
  right: 10%;
  transition: 0.5s;
}

.img-wrapper {
  width: 150px;
  height: 150px;
}
.duel-img {
  width: 100%;
  height: 100%;
}

.duelCard:hover {
  border: 0.01rem solid var(--yellow);
}
.duelCard:hover::before,
.duelCard:hover::after {
  background-color: var(--yellow);
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
}
.text-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, rgb(51, 65, 83), #0c0e12);
}
.text-wrapper > h4 {
  text-transform: uppercase;
  color: #ddd;
  font-size: 1.1rem;
  letter-spacing: 2px;
}
.text-wrapper > p {
  color: var(--commonGreen);
  font-weight: 800;
  transition: 0.5s;
}

.duelCard:hover .text-wrapper > p {
  color: var(--yellow);
}
